<a href="https://colab.research.google.com/github/Sairam-DE/Python-DataEngineering/blob/main/Dictionary_Data_Struct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
#Python Dictionary
#Dictionary represenred - { }
#dict={"one":1, "two":2}
#key = one, value=1
#it contains keys and value
#so it is known as key value pairs
"""
Dictionary is mutable
- we can change the value for a particular key
.- we can add more entries
- we can remove some of the entries

Remember the key should be immutable

"""

'\nDictionary is mutable\n- we can change the value for a particular key\n.- we can add more entries\n- we can remove some of the entries\n\nRemember the key should be immutable\n\n'

In [68]:
word_dict = {"intelligent": "The one who is really brilliant",
"rich":"a person who has a lot of money",
"car":"a 4 wheeler vehicle"}

print(word_dict)

{'intelligent': 'The one who is really brilliant', 'rich': 'a person who has a lot of money', 'car': 'a 4 wheeler vehicle'}

In [69]:
fruit_dict = {"summer":"mango", "rainy":"guava", "winter":"orange"}
print(fruit_dict)

{'summer': 'mango', 'rainy': 'guava', 'winter': 'orange'}

In [70]:
print(type(fruit_dict)) #to know the data structure

<class 'dict'>

In [71]:
#it's not sequence like lists and tuples
#we need to access by using key

In [72]:
print(fruit_dict['summer'])

mango

In [73]:
#here we can have various data types
student_dict = {"name":"mario", "roll.no":"69", "marks":"pass",
                "address":"st.louis", 75:"mathsmarks"}

In [74]:
print(student_dict['roll.no'])

69

In [75]:
print(student_dict[75])

mathsmarks

In [76]:
# .get helps us to get rid of errors
#print(word_dict(3)) --uncomment this to know the error
print(word_dict.get(3))

None

In [77]:
#advancing-tuple
student_dict = {"name":"mario", "roll.no":"69", "marks":"pass",
                "address":"st.louis", 75:"mathsmarks",
                 (10,69,6069):" Feecost"}

In [78]:
print(student_dict[(10,69,6069)])

 Feecost

In [79]:
"""
advancing-list
student_dict = {"name":"mario", "roll.no":"69", "marks":"pass",
                "address":"st.louis", 75:"mathsmarks",
                 [10,69,6069]:" Feecost"}
                  """

#keys-umnutable
#values can be mutuable
#so it will not accept list

'\nadvancing-list\nstudent_dict = {"name":"mario", "roll.no":"69", "marks":"pass", \n                "address":"st.louis", 75:"mathsmarks",\n                 [10,69,6069]:" Feecost"}\n                  '

In [80]:
#adding more elements

student_dict["father name"] = "reddy"

print(student_dict)

{'name': 'mario', 'roll.no': '69', 'marks': 'pass', 'address': 'st.louis', 75: 'mathsmarks', (10, 69, 6069): ' Feecost', 'father name': 'reddy'}

In [81]:
#changing the existing value

student_dict["name"] = "mario reddy"
print(student_dict)

{'name': 'mario reddy', 'roll.no': '69', 'marks': 'pass', 'address': 'st.louis', 75: 'mathsmarks', (10, 69, 6069): ' Feecost', 'father name': 'reddy'}

In [82]:
mario_marks = [(1, 88), (2, 92), (3, 77)]

#converting in to dict

mariomarks_dict = dict(mario_marks)
print(mariomarks_dict)

{1: 88, 2: 92, 3: 77}

In [83]:
#here we can get the data by using key
print(mariomarks_dict[2])

92

In [84]:
#to get all the key

mariomarks_dict_keys = mariomarks_dict.keys()
print(mariomarks_dict_keys)

dict_keys([1, 2, 3])

In [85]:
#to get all the values
mariomarks_dict_values = mariomarks_dict.values()
print(mariomarks_dict_values)

dict_values([88, 92, 77])

In [86]:
#items
mariomarks_dict_items = mariomarks_dict.items()
print(mariomarks_dict_items)

dict_items([(1, 88), (2, 92), (3, 77)])

In [87]:
#to get it as a list
mariomarks_dict_items = list(mariomarks_dict.items())
print(mariomarks_dict_items)

[(1, 88), (2, 92), (3, 77)]

In [88]:
#length of a dictionary
print(len(mariomarks_dict))

3

In [89]:
#by using .clear()
"""
it is going to clear data in the dict

"""

'\nit is going to clear data in the dict\n\n'

In [90]:
"""Customers Data

customer_id, customer_fname,customer_lname,address,city, state, pincode
11599,Mary,Malone,8708 Indian Horse Highway,Hickory,NC,28601
256, David, Rodriguez, 7605 Tawny Horse Falls, Chicago, IL, 60625
12111,Amber,Franco,8766 Clear Prairie Line, Santa Cruz, CA, 95060
8827, Brian,Wilson, 8396 High Corners,San Antonio, TX, 78240
11318,Mary,Henry,3047 Silent Embers Maze, Caguas, PR, 00725

"""

'Customers Data\n\ncustomer_id, customer_fname,customer_lname,address,city, state, pincode\n11599,Mary,Malone,8708 Indian Horse Highway,Hickory,NC,28601\n256, David, Rodriguez, 7605 Tawny Horse Falls, Chicago, IL, 60625\n12111,Amber,Franco,8766 Clear Prairie Line, Santa Cruz, CA, 95060\n8827, Brian,Wilson, 8396 High Corners,San Antonio, TX, 78240\n11318,Mary,Henry,3047 Silent Embers Maze, Caguas, PR, 00725\n\n'

In [91]:


customers_raw_data = """customer_id, customer_fname,customer_lname,address,city, state, pincode
11599,Mary,Malone,8708 Indian Horse Highway,Hickory,NC,28601
256, David, Rodriguez, 7605 Tawny Horse Falls, Chicago, IL, 60625
12111,Amber,Franco,8766 Clear Prairie Line, Santa Cruz, CA, 95060
8827, Brian,Wilson, 8396 High Corners,San Antonio, TX, 78240
11318,Mary,Henry,3047 Silent Embers Maze, Caguas, PR, 00725"""

In [105]:
raw_orders_data = """1,2013-07-25 00:00:00.0,11599, CLOSED
2,2013-07-25 00:00:00.0,256, PENDING_PAYMENT
3,2013-07-25 00:00:00.0, 12111, COMPLETE
4,2013-07-25 00:00:00.0,8827,CLOSED
5,2013-07-25 00:00:00.0, 11318, COMPLETE"""

In [108]:
orders_data = raw_orders_data.split("\n")
print(orders_data)

['1,2013-07-25 00:00:00.0,11599, CLOSED', '2,2013-07-25 00:00:00.0,256, PENDING_PAYMENT', '3,2013-07-25 00:00:00.0, 12111, COMPLETE', '4,2013-07-25 00:00:00.0,8827,CLOSED', '5,2013-07-25 00:00:00.0, 11318, COMPLETE']

In [92]:
customer_header = customers_raw_data.split("\n")
print(customer_header)

['customer_id, customer_fname,customer_lname,address,city, state, pincode', '11599,Mary,Malone,8708 Indian Horse Highway,Hickory,NC,28601', '256, David, Rodriguez, 7605 Tawny Horse Falls, Chicago, IL, 60625', '12111,Amber,Franco,8766 Clear Prairie Line, Santa Cruz, CA, 95060', '8827, Brian,Wilson, 8396 High Corners,San Antonio, TX, 78240', '11318,Mary,Henry,3047 Silent Embers Maze, Caguas, PR, 00725']

In [93]:
customer_data = customers_raw_data.split("\n")[1:]

In [142]:
print(customer_data)

['11599,Mary,Malone,8708 Indian Horse Highway,Hickory,NC,28601', '256, David, Rodriguez, 7605 Tawny Horse Falls, Chicago, IL, 60625', '12111,Amber,Franco,8766 Clear Prairie Line, Santa Cruz, CA, 95060', '8827, Brian,Wilson, 8396 High Corners,San Antonio, TX, 78240', '11318,Mary,Henry,3047 Silent Embers Maze, Caguas, PR, 00725']

In [143]:
#changing in to dict
#creating empty dict as customer_dict


customer_header = customers_raw_data.split("\n")[0]

customer_data = customers_raw_data.split("\n")[1:]

customer_dict = {}

for x in customer_data:
    customer_dict[x.split(",")[0]] = tuple(x.split(",") [1:])


print(customer_dict)

{'11599': ('Mary', 'Malone', '8708 Indian Horse Highway', 'Hickory', 'NC', '28601'), '256': (' David', ' Rodriguez', ' 7605 Tawny Horse Falls', ' Chicago', ' IL', ' 60625'), '12111': ('Amber', 'Franco', '8766 Clear Prairie Line', ' Santa Cruz', ' CA', ' 95060'), '8827': (' Brian', 'Wilson', ' 8396 High Corners', 'San Antonio', ' TX', ' 78240'), '11318': ('Mary', 'Henry', '3047 Silent Embers Maze', ' Caguas', ' PR', ' 00725')}

In [96]:
#to get all the values of a particular key we have

print(customer_dict['11599'])

('Mary', 'Malone', '8708 Indian Horse Highway', 'Hickory', 'NC', '28601')

In [97]:
#dictionary comprehension
#syntax sugar
customer_dict = {x.split(",")[0] : tuple(x.split(",") [1:]) for x in customer_data}
print(customer_dict)

{'11599': ('Mary', 'Malone', '8708 Indian Horse Highway', 'Hickory', 'NC', '28601'), '256': (' David', ' Rodriguez', ' 7605 Tawny Horse Falls', ' Chicago', ' IL', ' 60625'), '12111': ('Amber', 'Franco', '8766 Clear Prairie Line', ' Santa Cruz', ' CA', ' 95060'), '8827': (' Brian', 'Wilson', ' 8396 High Corners', 'San Antonio', ' TX', ' 78240'), '11318': ('Mary', 'Henry', '3047 Silent Embers Maze', ' Caguas', ' PR', ' 00725')}

In [98]:
#nested dictionary
customer_header = customers_raw_data.split("\n")[0]

customer_data = customers_raw_data.split("\n")[1:]

nested_dict = {}

for key, value in customer_dict.items():
    nested_dict[key] = {
    "customer fname" : value[0],
    "customer_Lname" : value[1],
    "address" : value[2],
    "city" : value[3],
    "state" : value[4],
    "pincode" : value[5]
    }
print(nested_dict)

{'11599': {'customer fname': 'Mary', 'customer_Lname': 'Malone', 'address': '8708 Indian Horse Highway', 'city': 'Hickory', 'state': 'NC', 'pincode': '28601'}, '256': {'customer fname': ' David', 'customer_Lname': ' Rodriguez', 'address': ' 7605 Tawny Horse Falls', 'city': ' Chicago', 'state': ' IL', 'pincode': ' 60625'}, '12111': {'customer fname': 'Amber', 'customer_Lname': 'Franco', 'address': '8766 Clear Prairie Line', 'city': ' Santa Cruz', 'state': ' CA', 'pincode': ' 95060'}, '8827': {'customer fname': ' Brian', 'customer_Lname': 'Wilson', 'address': ' 8396 High Corners', 'city': 'San Antonio', 'state': ' TX', 'pincode': ' 78240'}, '11318': {'customer fname': 'Mary', 'customer_Lname': 'Henry', 'address': '3047 Silent Embers Maze', 'city': ' Caguas', 'state': ' PR', 'pincode': ' 00725'}}

In [99]:
#we can easily access values
print(nested_dict.get("12111").get("pincode"))

 95060

In [100]:
customer_id = input("enter the customer id>> ")
customer_details =input("what details you want>> ")
print(nested_dict.get(customer_id).get(customer_details))

enter the customer id>> 256
what details you want>> customer_lname
None

In [140]:
#dynamically noticing

"""customer_id = input("enter the customer id>> ")
customer_details =input("what details you want>> ")

customer_header = customers_raw_data.split("\n")[0].split(",")

customer_data = customers_raw_data.split("\n")[1:]

nested_dict = {}

for key, value in customer_dict.items():
    nested_dict[key] = {
    customer_header[1] : value[0],
    customer_header[2] : value[1],
    customer_header[3] : value[2],
    customer_header[4] : value[3],
    customer_header[5] : value[4],
    customer_header[6] : value[5]
    }
print(nested_dict.get(customer_id).get(customer_details)) """

'customer_id = input("enter the customer id>> ")\ncustomer_details =input("what details you want>> ")\n\ncustomer_header = customers_raw_data.split("\n")[0].split(",")\n\ncustomer_data = customers_raw_data.split("\n")[1:]\n\nnested_dict = {}\n\nfor key, value in customer_dict.items():\n    nested_dict[key] = {\n    customer_header[1] : value[0],\n    customer_header[2] : value[1],\n    customer_header[3] : value[2],\n    customer_header[4] : value[3],\n    customer_header[5] : value[4],\n    customer_header[6] : value[5]\n    }\nprint(nested_dict.get(customer_id).get(customer_details)) '

In [139]:
raw_orders_data = """1,2013-07-25 00:00:00.0,11599, CLOSED
2,2013-07-25 00:00:00.0,256, PENDING_PAYMENT
3,2013-07-25 00:00:00.0, 12111, COMPLETE
4,2013-07-25 00:00:00.0,8827,CLOSED
5,2013-07-25 00:00:00.0, 11318, COMPLETE"""

In [144]:
orders_data = raw_orders_data.split("\n")

In [146]:
"""combined_result = []
for x in orders_data:
    order = x.split(",")
    combined_result.append((order[0],order[1],order[2],order[3],customer_dict[order[2]]))
print(combined_result)   """

'combined_result = []\nfor x in orders_data:\n    order = x.split(",")\n    combined_result.append((order[0],order[1],order[2],order[3],customer_dict[order[2]]))\nprint(combined_result)   '

In [ ]:
#solve the abov error
#by removing comment