<a href="https://colab.research.google.com/github/Sairam-DE/Python-DataEngineering/blob/main/List_and_Tuple_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#4 main data structures in python [Collection type ]
#Collection type - hold more than one value, a list of value
#--> List
#---> Tuple
#---> set
#----> Dictionary

'''Examples:-
    List [1,2,3,4]
    Tuple (1,2,3,4)
    set - {1,2,3,4}
    dictionary - {"Movie": "VakeelSaab", "rsd":"08/04/2021", "ticket price" : 1500 }
    '''

In [ ]:
'''
     Sequence types - List , Tuples , String
     Mutable vs immutable -
     Mutable - the value can be changed
     Immutable - Can't be Changed
     String - immutable
     List - mutable
     Tuple - immutable
     set - mutable
     dictionary - mutable '''

In [ ]:
#list
Movie = ['VakeelSaab', "2022-04-08", 'Watched', "1500"]
#printing list
print(Movie)

['VakeelSaab', '2022-04-08', 'Watched', '1500']

In [ ]:
print(type(Movie))

<class 'list'>

In [ ]:
#tuple
movie = ('VakeelSaab', "2022-04-08", 'Watched', "1500")
#printing tuple
print(movie)

('VakeelSaab', '2022-04-08', 'Watched', '1500')

In [ ]:
print(type(movie))

<class 'tuple'>

In [ ]:
#Acessing with index (List)
print(Movie[3])

1500

In [ ]:
#When we try to access index which is not present throws error as  Index out of range

In [ ]:
#Mutability
Movie[2] = 'Not Yet Watched'
print(Movie)

['VakeelSaab', '2022-04-08', 'Not Yet Watched', '1500']

In [ ]:
#Where you can see we achieved mutability successfully

In [ ]:
movie(2) = 'Not Yet Watched'
print(movie)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-21-c3aa0b0724ae>, line 1)

In [ ]:
#you can see error, mutability is not supported in tuple

In [ ]:
#append
Movie.append('2hrs 30mins')
print(Movie)
#When ever we use append the ingested will add at end

['VakeelSaab', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']

In [ ]:
#append only works with list not with tuple

In [ ]:
#at specific index
Movie.insert(1, 'Friday')
print(Movie)

['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']

In [ ]:
#you can see we added index at 1 by using insert
#insert not works for tuple

In [ ]:
#finding length
print(len(Movie)) #length of list

print(len(movie)) #length of tuple works because not manipulating

7
4

In [ ]:
#it is not possible to compare integer with string
#it only possible when we have exclusively integers or in some cases strings

In [ ]:
#understanding min and max
#exclusively with integers

l1 = [1,2,3,4,99,69,79]
t1 = (1,2,3,78,69,6093)
#min = minimum
#max - maximum
print(min(l1))
print(min(t1))
print(max(l1))
print(max(t1))
#got understanding in both list and tuple

1
1
99
6093

In [ ]:
#pop - removes last element of the list
Movie.pop
print(Movie)

['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']

In [ ]:
#pop - won't work for tuple

In [ ]:
# for loop
for x in Movie:
  print(Movie)

['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']
['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']
['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']
['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']
['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']
['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']
['VakeelSaab', 'Friday', '2022-04-08', 'Not Yet Watched', '1500', '2hrs 30mins', '2hrs 30mins']

In [ ]:
#data type
for x in Movie:
  print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
numbers = range(1,11)
sum = 0
for x in numbers:
  sum = sum + x
print(sum)

55

In [ ]:
#from userinput
range_start = int(input("starting range: "))
range_end   = int(input("ending range: "))
numbers = range(range_start, range_end+1)
sum = 0
for x in numbers:
  sum = sum + x
print(sum)

In [ ]:
#working with uncleaned data - LIST

prices = [69,6093,420, None, 151, 22, 11, "invalid", 175.69, 2]
sum = 0
for x in prices:
  if type(x) == int or type(x) == float:
    sum = sum + x
  else:
       continue
print(sum)

6943.69

In [ ]:
#Continue Will bring you next iteration of the loop

In [ ]:
#second way
i = 0
sum = 0
while i < len(prices):
  if type(prices[i]) == int or type(prices[i]) == float:
      sum = sum + prices[i]
  else:
      i = i + 1
      continue
  i = i + 1
print(sum)

6943.69

In [ ]:
#break will simply break the loop

In [ ]:
#3rd Way

i = 0
sum = 0
while True:
  if type(prices[i]) == int or type(prices[i]) == float:
      sum = sum + prices[i]
  else:
      i = i + 1
      continue
  i = i + 1
  if i == len(prices):
      break
print(sum)

6943.69

In [ ]:
#acquiring index
print(Movie.index("1500")) #list
print(movie.index("1500")) #tuple - works because we are just acquiring not manipulating

4
3

In [ ]:
#Knowing by overcoming errors
print("1500" in Movie) # if it present gives true othrewise gives false
print("13" in movie)

True
False

In [ ]:
#gives us count
prices = [69, 69, 78, 69, 79, 6093]
print(prices.count(69))


price = (69, 69, 78, 69, 79, 6093)
print(price.count(6093))

prices.sort()
print(prices)
#price.sort() - sort won't work with tuple
#print(price.sort())
prices.reverse()
print(prices)
#price.reverse() # reverse won't work with tuple
#print(price.reverse())

3
1
[69, 69, 69, 78, 79, 6093]
[6093, 79, 78, 69, 69, 69]

In [ ]:
#when two list pointing towards same memory location
values = [95, 98, 97, 88, 100, 90]
values_new = values
values_new[1] = 69
print(values)

[95, 69, 97, 88, 100, 90]

In [ ]:
#when we copy the changes won't reflect at old one
magnitude = [10,20,69,89,76,92]
magnitude_new = magnitude.copy
#magnitude_new[1] = 88 - remove copy and try
print(magnitude)

[10, 20, 69, 89, 76, 92]

In [ ]:
mag_ids = [2, 3, 22, 2, 7, 88, 899, 88, 3, 99, 0, 77]
#finding the unique values

uniquemag_ids = []
for x in mag_ids:
    if x in uniquemag_ids:
      continue
    else:
      uniquemag_ids.append(x)
print(uniquemag_ids)

[2, 3, 22, 7, 88, 899, 99, 0, 77]

In [ ]:
#another way by using propert of set
#property of set when we put same value multiple times it only holds one time
#we are using the set property

uniquemag_ids = set(mag_ids)
print(uniquemag_ids)

{0, 2, 3, 899, 99, 7, 77, 22, 88}