<a href="https://colab.research.google.com/github/Sairam-DE/Python-DataEngineering/blob/main/List_and_Tuple_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create new list after some transformations

prices_mv = [100, 88, 97, 76, 90, 44]
gst_prices = []
for x in prices_mv:
  gst_prices.append(x+x*18/100)
print(gst_prices)

[118.0, 103.84, 114.46000000000001, 89.68, 106.2, 51.92]

In [ ]:
#List Comprehension
#list comprehension it is nothing but like a syntactic sugar you write less code
#and get the same things done, that's the beauty of it

prices_mv = [100, 88, 97, 76, 90, 44]
gst_prices = [x+x*18/100 for x in prices_mv]
print(gst_prices)

[118.0, 103.84, 114.46000000000001, 89.68, 106.2, 51.92]

In [ ]:
#when we have different amounts to be added rather than static
ec_bonds = [(236, 18), (76, 89), (888, 90), (777, 2)]
ecbonds_new = []
for x in ec_bonds:
  ecbonds_new.append(x[0] + x*x[1]/100)
print(ecbonds_new)

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [ ]:
#now by using list comprehension
ec_bonds = [(100,18), (236, 18), (76, 89), (888, 90), (777, 2)]
ecbonds_new = [x[0] + x[0]*x[1]/100 for x in ec_bonds]
print(ecbonds_new)

[118.0, 278.48, 143.64, 1687.2, 792.54]

In [ ]:
#when we need answer as [ (100, 18, 118),  (236,18,278.48)....]
#so we can write code like this

ec_bonds = [(100,18), (236, 18), (76, 89), (888, 90), (777, 2)]
ecbonds_new = [(x[0], x[1], x[0] + x[0]*x[1]/100) for x in ec_bonds]
print(ecbonds_new)

[(100, 18, 118.0), (236, 18, 278.48), (76, 89, 143.64), (888, 90, 1687.2), (777, 2, 792.54)]

In [ ]:
#nested list
#[[1,1,1], [2,4,8], [3,9,27]]
nested_list =[]
for i in range (1,4):
  nested_list.append([i, i**2, i**3])
print(nested_list)

[[1, 1, 1], [2, 4, 8], [3, 9, 27]]

In [ ]:
#using list comprehension

nested_list = [ [ i, i**2, i**3] for i in range(1,8) ]
print(nested_list)

[[1, 1, 1], [2, 4, 8], [3, 9, 27], [4, 16, 64], [5, 25, 125], [6, 36, 216], [7, 49, 343]]

In [ ]:
#flatten list , beacuse of nested_list we have to use two for loops
flattened_list = []
for sublist in nested_list:
  for item in sublist:
      flattened_list.append(item)
print(flattened_list)

[1, 1, 1, 2, 4, 8, 3, 9, 27, 4, 16, 64, 5, 25, 125, 6, 36, 216, 7, 49, 343]

In [ ]:
#using list comprehension

flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 1, 1, 2, 4, 8, 3, 9, 27, 4, 16, 64, 5, 25, 125, 6, 36, 216, 7, 49, 343]

In [ ]:
orders_list = [
              [101, '2023-07-25 00:00:00.0', 11599, 'CLOSED'],
              [102, '2023-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'],
              [103, '2023-07-25 00:00:00.0', 12111, 'COMPLETE']
              ]

closed_order = [ x for x in orders_list if x[3] == 'PENDING_PAYMENT']
print(closed_order)

[[102, '2023-07-25 00:00:00.0', 256, 'PENDING_PAYMENT']]

In [ ]:
#unpacking

orders = [1,"2013-07-25 00:00:00.0", 11599, "CLOSED"]
#traditional way to accessing
order_id = orders[0]
order_date = orders[1]
customer_id = orders[2]
order_status = orders[3]
print(orders[2])
#easy way to access
order_id,order_date,customer_id,order_status = orders
print(order_id)

#same way we can unpack tuples - ()

11599
1

In [ ]:
customer = [1,"RichardHernandez", "XXXXXXXXX",
           "XXXXXXXXX","6303 Heather Plaza",
           "Brownsville", "TX",78521]

In [ ]:
#slicing
print(customer[0:2])

[1, 'RichardHernandez']

In [ ]:
#concatenation

print(customer[0:2]+customer[4:])

[1, 'RichardHernandez', '6303 Heather Plaza', 'Brownsville', 'TX', 78521]

In [ ]:
order = [1,"2013-07-25 00:00:00.0", 11599,"CLOSED"]
customer = [1,"Richard, Hernandez", "XXxxxxxxX",
"XXXXXXXXX", "6303 Heather Plaza",
"Brownsville", "TX", 78521]

In [ ]:
#append
order.append(customer)
print(order)

[1, '2013-07-25 00:00:00.0', 11599, 'CLOSED', [1, 'Richard, Hernandez', 'XXxxxxxxX', 'XXXXXXXXX', '6303 Heather Plaza', 'Brownsville', 'TX', 78521]]

In [ ]:
#we can achieve flattened list as
order.extend(customer)
print(order)

[1, '2013-07-25 00:00:00.0', 11599, 'CLOSED', [1, 'Richard, Hernandez', 'XXxxxxxxX', 'XXXXXXXXX', '6303 Heather Plaza', 'Brownsville', 'TX', 78521], 1, 'Richard, Hernandez', 'XXxxxxxxX', 'XXXXXXXXX', '6303 Heather Plaza', 'Brownsville', 'TX', 78521]

In [ ]:
#enumerate
order = [1,"2013-07-25 00:00:00.0", 11599,"CLOSED"]
for index, element in enumerate(order):
  print(index, element)

0 1
1 2013-07-25 00:00:00.0
2 11599
3 CLOSED

In [ ]:
#for better understanding
order = [1,"2013-07-25 00:00:00.0", 11599,"CLOSED"]
for index, element in enumerate(order):
  print(f'index: {index} element:{element}')

index: 0 element:1
index: 1 element:2013-07-25 00:00:00.0
index: 2 element:11599
index: 3 element:CLOSED

In [ ]:
# Count the number of occurrences of each word
''' input_text = input("Enter the text: ")
input_list = input_text.split(" ")
input_list_lower = [word.lower() for word in input_list]
input_set = set(input_list_lower)

result_list = []

for word in input_set:
    result_list.append((word, input_list_lower.count(word)))

print(result_list)'''

' input_text = input("Enter the text: ")\ninput_list = input_text.split(" ")\ninput_list_lower = [word.lower() for word in input_list]\ninput_set = set(input_list_lower)\n\nresult_list = []\n\nfor word in input_set:\n    result_list.append((word, input_list_lower.count(word)))\n\nprint(result_list)'

In [ ]:

#Assignment 1 -

['CLOSED', 'PENDING_PAYMENT', 'COMPLETE', 'CLOSED',
'COMPLETE', 'COMPLETE', 'COMPLETE', 'PROCESSING',
'PENDING_PAYMENT', 'PENDING_PAYMENT']

#you find the count of each order status

order_statuses = ['CLOSED', 'PENDING_PAYMENT', 'COMPLETE', 'CLOSED', 'COMPLETE', 'COMPLETE', 'COMPLETE', 'PROCESSING', 'PENDING_PAYMENT', 'PENDING_PAYMENT']

status_counts = {status: order_statuses.count(status) for status in set(order_statuses)}

print(status_counts)

{'COMPLETE': 4, 'PENDING_PAYMENT': 3, 'CLOSED': 2, 'PROCESSING': 1}

In [ ]:
#Assignment - 2

transactions = [
    [1, 100, 'success'],
    [2, 200, 'pending'],
    [3, 150, 'success'],
    [4, 300, 'failed'],
    [5, 400, 'success'],
    [6, 250, 'failed'],
    [7, 350, 'success'],
    [8, 450, 'pending'],
    [9, 500, 'pending'],
    [10, 600, 'failed']
]

# Counting the number of transactions with each status
status_counts = {status: sum(1 for transaction in transactions if transaction[2] == status) for status in ['success', 'pending', 'failed']}

print(status_counts)

{'success': 4, 'pending': 3, 'failed': 3}

In [ ]:
#Assignement - 3

employees = [
    [101, 'John', 'IT', 60000],
    [102, 'Alice', 'HR', 50000],
    [103, 'Bob', 'Finance', 70000],
    [104, 'Emma', 'IT', 55000],
    [105, 'David', 'Finance', 75000],
    [106, 'Sophia', 'HR', 48000]
]

# Calculate total salary and count of employees for each department
department_stats = {dept: [sum(emp[3] for emp in employees if emp[2] == dept),
                            sum(1 for emp in employees if emp[2] == dept)]
                    for dept in set(emp[2] for emp in employees)}

# Calculate average salary for each department
average_salaries = {dept: stats[0] / stats[1] for dept, stats in department_stats.items()}

print(average_salaries)

{'Finance': 72500.0, 'HR': 49000.0, 'IT': 57500.0}